extends layout

block content
  h1= title
  form(id='MountainsForm', action="/resource/mountains", method="POST")
    div.form-group
      label.mountainsAttr(for='name') Mountains name
      input#name(type='text', name='name')
    div.form-group
      label.mountainsAttr(for='size')  Mountains location 
      input#location(type='text', name='location')
    div.form-group
      label.mountainsAttr(for='altitude') Mountains Altitude
      input#altitude(type='number', name='altitude')
    input(type="submit")
  script.
    document.forms['MountainsForm'].addEventListener('submit', (event) => {
      const nameInput = document.getElementById('name');
      const nameValue = nameInput.value.trim();
      
      // Check if the name contains only letters using a regular expression
      if (!/^[A-Za-z]+$/.test(nameValue)) {
        alert('Name should only contain letters.');
        event.preventDefault(); // Prevent form submission
      } else {
        // TODO show the user that the form is being submitted (e.g., loading spinner)
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          // TODO handle the body, update UI
          alert("Save succeeded");
        }).catch((error) => {
          // TODO handle the error, update UI
          alert("Save failed " + error);
        });
      }
    })